
a{
    text-decoration: none;
}

h2 {
    color : white;
    display: flex;
    justify-content: center;

}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
    font-size: 3.5rem;
    }
}

h1{
    color: white;
}

 body{
     height: 100%;
    margin :0;
    background-image: url("../images/fond8.jpg");
    background-size: cover;
    background-repeat: no-repeat;
} 


#fond1{
    
    background-image: url("../images/fond8.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}


.recette{
    background-image: url("../images/rea.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#fond{
    
    background-image: url("../images/rea.jpg");
    background-size: cover;
  
}

section{
    width: 100%;
}


#piedpage{
    margin-left: 60px;
    position:relative;

    bottom:0px;
    /* background-image: url("../images/rea.jpg"); */
    background-size: cover;
}   

#but{
    color: red;
}

.bbb{
    background-image: url("../images/beuh.jpg");
    background-size: cover;
}

table {
    overflow: scroll;
    position: relative;
    border: 2px solid white;
    border-radius: 5px;
    border-collapse:separate;
}

