
.inpt3{
    
    margin-top: 50px;
    border : 1px solid black;
    border-radius: 5px;
    width: 380px;
    height: 40px;
}

label{
    background-color: white;
    border : 1px solid black;
    border-radius: 5px;
}




.sister{
    margin-top: 40px;
    float: left;
    height: 40px;
    width: 250px;
    border: 1px solid;
    border-radius: 4px solid black;
    

 }

 .cati{
     position: relative;
     right:250px;
     height: 40px;
     width: 180px;
     margin-top: 40px;
 }

 .cati2{
     position: relative;
   right: 240px;
    height: 40px;
    width: 130px;
    margin-top: -90px;
}


#toto{
     margin-left: 35px;
 } 

 
 .spanEnz{
     
     width: 40px;
     height: 25px;
     cursor:grab;
    }
textarea{
    height: 200px;
}

.titleTextA{
    
    width: 210px;
    height: 30px;
    position: relative;
    float: left;
    margin-bottom: 10px;
}    


.bttn{
    width: 100px;
}    
    
#btnEnzo{
    position: relative;
    width : 180px;
    top : 40px;
    right : 480px;
   
}


#liste{
    width: 250px;
    position: relative;
    top : 20px;

}

 

.inpt{
    float: left;
    border : 1px solid black;
    border-radius: 5px;
    width: 380px;
    height: 40px;
}



.inpt2{
    position :relative;
    margin-right :450px;
    border : 1px solid black;
    border-radius: 5px;
    width: 380px;
    height: 40px;
}







.tps{
    display: flex;
    flex-direction: row;
}



@media screen and (max-width: 1400px) {
    .tps{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: auto;
        
    }

    
} 

@media screen and (max-width: 900px) {
    .bda{
        margin :auto;
        width: 100%;
        text-align: center;
        
    }

    
} 




button{
    float: right;
    width:110px;
    height: 40px;
    
}



#zer{
    width : 550px;
    height: 40px;
    display: flex;
    flex-direction: row;
    
}

.jul{
    width: 500px;
}

.photo{
    size: 15px;
    color: white;
    position: relative;
    width: 180px;

}

.btn-enzo{
    position: relative;
    float: left;
    text-align: center;
    width: 250px;
    height: 60px;
    
}


.bde{
    width: 1380px;
    padding-top: 10px;
    height: 80px;
    position: absolute; /* postulat de départ */
    top: 20%; left: 50%; /* à 50%/50% du parent référent */
    transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
    background-image: url("../images/rea.jpg");
    background-size: cover;
    border: 2px solid white;
    border-radius: 5px;
}






.bda{
    position: relative;
    max-width: 1380px;
    min-width: 500px;
    padding-top: 10px;
    height: 80px;
    
    margin-top: 20px;
    margin-left:70px;
    background-image: url("../images/rea.jpg");
    background-size: cover;
    border: 2px solid white;
    border-radius: 5px;
}


.col{
    min-width: 90px;
    max-width: 650px;
}




.errr{
    margin-top: 50px;
}

/* .titre2{

} */







