    
.dash{
    position: relative;
    height : 350px;
    margin-top: 200px;
    margin-left:70px;
    color : white;
} 
.enzo{
    
    display: flex;
    flex-direction: column;
}


img{
    border-bottom: 0.8px solid darkgreen;
}

.rosaa{
    border: 0.7px solid white;
    border-radius: 7px solid black;
    background-image: url("../images/beuh.jpg");
    background-size: cover;
    margin-top: 20px;
    color: white;
    margin-right: 50px;
    
}


.carte{
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    flex-wrap: wrap;
   
    margin-left: 70px;
    right: 70px;
    
} 


#text2{
    font-size: 25px;
    position :absolute;
    top : 0.5%;
    left :32.5%;
    color: white;

}

img{
    width : 100px;
    height : 215px;
}

hr{
    width : 90%;
    right : 0px;
    border-top: 2px solid white;
    color :white;
    margin-left: 25px;
}

#carta{
  
    margin-bottom :10px;
}

.crt{
    
    position: relative;
    text-align: center;
    height : 350px;
    margin-top: 80px;
    margin-bottom: 10px;
    height : 200px;
    color : white;
}

.hh{
   
    margin-right : 70px;
    margin-left: 70px;
    border-top: 6px solid green;
    
}

#prepa{
    
    padding :50px;
    margin-right: 70px;
    margin-left: 70px;
    margin-top: 50px;
    background-image: url("../images/beuh.jpg");
    background-size: cover;
    border: 2px solid white;
    border-radius: 10px;
    text-align: center;
    
    
}


.bd{
   

    position: relative;
    margin-left: 25px;
    font-size: 36px;
   
}


#bttn{
    position: absolute;
   top :30%;
   left: 38%;
    font-size: 20px;
    width: 300px;
}



.bdu{
    width: 1534px;
    color : white;
    font-size: 50px;
    font-weight: bold;
    padding-top: 34px;
    padding-left: 500px;
    height: 400px;
    position: relative; /* postulat de départ */
    top: 20%; left: 47%; /* à 50%/50% du parent référent */
    transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
    background-image: url("../images/beuh.jpg");
    background-size: cover;
    border-radius: 5px;
}


.card .card-img-top{
    height: 230px;
}


.tabuser{
    margin-top: 100px;
}


.rosaa{
    border: 0.7px solid white;
    border-radius: 7px solid black;
    background-image: url("../images/beuh.jpg");
    background-size: cover;
    margin-top: 20px;
    color: white;
    margin-right: 50px;
    
}


.card .card-img-top{
    height: 230px;
}

.paan{
    color: wheat;
}

.getuser{
    width: 1300px;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    margin-left: 70px;
    height: 400px;
    position: relative;
    overflow: scroll;
    color: wheat;
    
}

.getuser table{
    width: 500px;
}

.getuser h1{
    margin-bottom: 100px;
}

td {
  
    color: wheat;
    border: 1px solid white;
    border-collapse: collapse;
}

.titi{
    margin-top: 60px;
    margin-left: 500px;
}





